<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--  -->

    <!-- 匹配地址的正则表达式 -->
    <add key="ReguraText" value="" />

    <!-- 是否自动启动接收服务 -->
    <add key="AutoStart" value="false" />


    <!-- 接收提交数据的服务地址 -->
    <add key="ServiceUrl" value="" />

    <!-- 提交数据中头部的附加信息 ex:[{&quot;&quot;:&quot;&quot;}] -->
    <add key="PostHeads" value="" />

  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>