<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--  -->

    <!-- 匹配地址的正则表达式 -->
    <add key="ReguraText" value="" />

    <!-- 接收提交数据的服务地址 -->
    <add key="ServiceUrl" value="" />

    <!-- 是否自动启动接收服务 -->
    <add key="AutoStart" value="false" />

  </appSettings>
</configuration>